@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #2a2a72;
  color: #fff;
  font-family: "Poppins", sans-serif;
  margin: 3rem;
}

.card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #e3d9f4;
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(0, 0, 0, 0.1);

  padding: 1.5rem;
  margin: 1rem;
}
p {
  font-size: 0.7rem;
}
h5 {
  font-size: 1rem;
  color: #7345c1;
  font-weight: 600;
}
a {
  font-size: 0.6rem;
  color: palevioletred;
}
.textFollow {
  color: #2a2a72;
  font-weight: 600;
}
.user-form {
  width: 500px;
  height: 1.2rem;
  font-size: 0.5rem;
}

@media (max-width: 400px) {
  .card-body {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .user-form {
    max-width: 300px;
  }
}
